@charset "utf-8";
/* 
  css設定 @charsetが消されるsass仕様へのハック用コメントです。削除しないでください。新規作成時も必須！
 */
@import "inc/mixin.scss";
@import "inc/functions.scss";
@import "inc/param.scss";
#adtag {
  opacity: 0;
}
#access {
  main img {
    max-width: 100%;
  }
  .img {
    position: relative;
  }

  main {
    background: #000;
    color: #fff;
    font-family: "RyuminPro", serif;
    line-height: 1;
    .image {
      position: relative;
    }
  }
  sp {
    display: none;
  }
  pc {
    display: block;
  }
  .page-annotation {
    font-family: "Noto Sans JP", sans-serif;
  }
  .main-visual {
    position: relative;
    border: none;
    .annotation {
      bottom: 160px;
    }
  }
  .sections {
    .inner {
      margin: 0 auto;
      width: 80%;
      max-width: 1200px;
    }
    .image {
      position: relative;
    }
    .annotation {
      font-size: 10px;
      text-align: right;
    }
  } //sections
  .intro {
    padding: 140px 0 0;
    .lead {
      font-size: 45px;
      line-height: 1.6;
      margin-bottom: 30px;
    }
    .text {
      font-size: 18px;
      line-height: 2;
      margin-bottom: 140px;
    }
    .image01 {
      margin: 0 auto 100px;
      width: 80%;
      .annotation {
        color: #fff;
        bottom: -20px;
      }
    }
  } //intro

  .station {
    margin-bottom: 200px;
    .lists {
      li {
        display: inline-block;
        vertical-align: top;
        width: 48%;
        margin-right: 2%;
      }
      li:last-child {
        margin-right: auto;
      }
      .tit-box {
        border-bottom: 1px solid;
        padding-bottom: 6px;
        margin-bottom: 30px;
        .line {
          font-size: 18px;
        }
        .min {
          font-size: 22px;
          .name {
            font-size: 30px;
          }
          .num {
            font-size: 42px;
            color: #D4C194;
          }
        }
      } //tit-box
      .info-box {
        margin-top: 10px;
        .min {
          font-size: 30px;
          margin-bottom: 10px;
          .name {
            font-size: 36px;
          }
          .big {
            font-size: 50px;
            color: #D4C194;
          }
          .mini {
            font-size: 18px;
          }
        }
        .sub {
          font-size: 30px;
          text-align: right;
          display: flex;
          align-items: center;
          margin-bottom: 10px;
          &:before {
            content: "";
            flex-grow: 1;
            border-top: dotted 3px #fff;
            display: block;
          }
          &:before {
            margin-right: 15px;
          }
          .big {
            font-size: 42px;
            color: #D4C194;
            display: contents;
          }
          .mini {
            font-size: 18px;
            display: contents;
          }
        }
        .sen {
          font-size: 16px;
          line-height: 1.6;
        }
      } //info-box
    } //lists
    .list01 {
      margin-bottom: 40px;
    } //list01
    .list02 {
      margin-bottom: 100px;
      li {
        display: inline-block;
        vertical-align: top;
        width: 31%;
        margin-right: 2%;
      }
      li:last-child {
        margin-right: auto;
      }
    } //list02
    .airport {
      .tit01 {
        font-size: 30px;
        line-height: 1.6;
        padding-bottom: 6px;
        border-bottom: 1px solid;
        margin-bottom: 20px;
      }
      .tit02 {
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 20px;
      }
      .lists {
        .info-box {
          .min {
            font-size: 38px;
            line-height: 1.3;
            .mini {
              font-size: 18px;
            }
          }
          .sub {
            font-size: 30px;
            .big {
              font-size:50px;
            }
            .mini {
              font-size: 18px;
            }
          }
        } //info-box
      } //lists
      .caps {
        font-size: 10px;
        line-height: 1.6;
      }
    } //airport
  } //station

  .taxi {
    margin-bottom: 140px;
    .tit01 {
      font-size: 30px;
      line-height: 1.6;
      margin: 30px 0 20px;
    }
    .tit02 {
      font-size: 18px;
      line-height: 1.6;
      margin-bottom: 80px;
    }
    .tit03 {
      font-size: 18px;
      line-height: 1.6;
      padding-bottom: 10px;
      border-bottom: 1px solid;
      margin-bottom: 20px;
    }
    ul {
      margin-bottom: 20px;
    }
    li {
      vertical-align: top;
      display: inline-block;
      width: 31.5%;
      margin-right: 2%;
    }
    li:last-child {
      margin-right: auto;
    }
    .name {
      text-align: center;
      font-size: 18px;
      margin: 20px auto;
      span {
        font-size: 30px;
      }
    }
    .caps {
      font-size: 10px;
      line-height: 1.6;
    }
  } //taxi

  .car {
    margin-bottom: 140px;
    .tit01 {
      font-size: 30px;
      line-height: 1.6;
      margin: 30px 0 20px;
    }
    .tit02 {
      font-size: 18px;
      line-height: 1.6;
      margin-bottom: 80px;
    }
    .tit03 {
      font-size: 18px;
      line-height: 1.6;
      padding-bottom: 10px;
      border-bottom: 1px solid;
      margin-bottom: 20px;
      span {
        font-size: 30px;
      }
    }
    ul {
      margin-bottom: 20px;
    }
    li {
      vertical-align: top;
      display: inline-block;
      width: 31.5%;
      margin-right: 2%;
    }
    li:last-child {
      margin-right: auto;
    }
    .info-box {
      margin-top: 10px;
      .min {
        font-size: 30px;
        line-height: 1.3;
        margin-bottom: 10px;
        .mini {
          font-size: 18px;
        }
      }
      .sub {
        font-size: 30px;
        text-align: right;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        &:before {
          content: "";
          flex-grow: 1;
          border-top: dotted 3px #fff;
          display: block;
        }
        &:before {
          margin-right: 15px;
        }
        .big {
          font-size: 42px;
          color: #D4C194;
          display: contents;
        }
        .mini {
          font-size: 18px;
          display: contents;
        }
      }
    } //info-box
    .caps {
      font-size: 10px;
      line-height: 1.6;
    }
  } //car

  @media screen and (max-width: 1300px) {
  }
  @media screen and (max-width: 1024px) {
  } //1024px

  @media screen and (max-width: 768px) {
    sp {
      display: block;
    }
    pc {
      display: none;
    }

    .main-visual {
      .annotation {
        bottom: 40px;
      }
    }
    .intro {
      padding: 60px 0 0;
      .lead {
        font-size: 22px;
        margin-bottom: 20px;
      }
      .text {
        font-size: 16px;
        margin-bottom: 60px;
      }
      .image01 {
        width: 94%;
        margin-bottom: 60px;
        .leaflet-top{
          bottom: 0;
        }
      }
    } //intro
    .station {
      margin-bottom: 100px;
      .lists {
        li {
          display: block;
          width: 100%;
          margin-bottom: 20px;
        }
        li:last-child {
          margin-bottom: auto;
        }
        .tit-box {
          .line {
            font-size: 16px;
          }
          .min {
            font-size: 18px;
            .name {
              font-size: 24px;
            }
            .num {
              font-size: 32px;
            }
          }
          &.sp{
            margin-bottom: 50px;
          }
        } //tit-box
        .info-box {
          .line{
            margin-bottom: 5px;
          }
          .min {
            font-size: 16px;
            .name {
              font-size: 27px;
            }
            .big {
              font-size: 36px;
            }
            .mini {
              font-size: 12px;
            }
          }
          .sub {
            font-size: 22px;
            .big {
              font-size: 42px;
            }
            .mini {
              font-size: 16px;
            }
          }
          .sen {
            font-size: 16px;
          }
        } //info-box
        .image.image01{
          margin-top: 50px;
        }
      } //lists
      .list01 {
        li {
          margin-bottom: 40px;
        }
      } //list01
      .list02 {
        margin-bottom: 80px;
        li {
          display: block;
          width: 100%;
          margin-bottom: 40px;
        }
        li:last-child {
          margin-bottom: auto;
        }
      } //list02
      .airport {
        .tit01 {
          font-size: 22px;
        }
        .tit02 {
          font-size: 16px;
          line-height: 1.6;
          margin-bottom: 20px;
        }
        .lists {
          .info-box {
            .min {
              font-size: 22px;
              .mini {
                font-size: 16px;
              }
            }
            .sub {
              font-size: 22px;
              .big {
                font-size: 42px;
              }
              .mini {
                font-size: 16px;
              }
            }
          } //info-box
        } //lists
      } //airport
    } //station

    .taxi {
      margin-bottom: 100px;
      .tit01 {
        font-size: 22px;
      }
      .tit02 {
        font-size: 16px;
        margin-bottom: 40px;
      }
      .tit03 {
        font-size: 16px;
      }
      ul {
        margin-bottom: 20px;
      }
      li {
        display: block;
        width: 100%;
        margin-bottom: 60px;
      }
      li:last-child {
        margin-bottom: auto;
      }
      .name {
        font-size: 16px;
        margin: 10px auto;
        span {
          font-size: 22px;
        }
      }
      .caps {
        font-size: 10px;
        line-height: 1.6;
      }
    } //taxi

    .car {
      margin-bottom: 80px;
      .tit01 {
        font-size: 22px;
      }
      .tit02 {
        font-size: 16px;
        margin-bottom: 40px;
      }
      .tit03 {
        font-size: 16px;
      }
      .tit03 {
        font-size: 16px;
        span {
          font-size: 20px;
        }
      }
      ul {
        margin-bottom: 20px;
      }
      li {
        display: block;
        width: 100%;
        margin-bottom: 60px;
      }
      li:last-child {
        margin-bottom: 30px;
      }
      .info-box {
        .min {
          font-size: 22px;
          .mini {
            font-size: 16px;
          }
        }
        .sub {
          font-size: 22px;
          .big {
            font-size: 50px;
          }
          .mini {
            font-size: 16px;
          }
        }
      } //info-box
      .caps {
        font-size: 10px;
        line-height: 1.6;
      }
    } //car
  } //sp
}
