@charset "utf-8";
/* 
  css設定 @charsetが消されるsass仕様へのハック用コメントです。削除しないでください。新規作成時も必須！
 */
@import "inc/mixin.scss";
@import "inc/functions.scss";
@import "inc/param.scss";
#adtag {
  opacity: 0;
}
#access {
  main img {
    max-width: 100%;
  }
  .img {
    position: relative;
  }

  main {
    background: #000;
    color: #fff;
    font-family: "RyuminPro", serif;
    line-height: 1;
  }
  sp {
    display: none;
  }
  pc {
    display: block;
  }
  .page-annotation {
    font-family: "Noto Sans JP", sans-serif;
  }
  .main-visual {
    position: relative;
    border: none;
    .annotation {
      bottom: 160px;
    }
  }
  .sections {
    .inner {
      margin: 0 auto;
      width: 70%;
      max-width: 1030px;
    }
    .image {
      position: relative;
    }
    .annotation {
      font-size: 10px;
      text-align: right;
    }
  } //sections
  .intro {
    padding: 60px 0 0;
    .lead {
      font-size: 64px;
      line-height: 1.6;
      margin-bottom: 30px;
    }
    .text {
      font-size: 24px;
      line-height: 2;
      margin-bottom: 140px;
    }
    .img01 {
      margin-bottom: 100px;
    }
  } //intro

  .station {
    .lists {
      li {
        display: inline-block;
        vertical-align: top;
        width: 48%;
        margin-right: 2%;
      }
      li:last-child {
        margin-right: auto;
      }
      .tit-box {
        border-bottom: 1px solid;
        padding-bottom: 6px;
        margin-bottom: 30px;
        .line {
          font-size: 24px;
        }
        .min {
          font-size: 36px;
          .name {
            font-size: 46px;
          }
          .num {
            font-size: 64px;
            color: #a2a383;
          }
        }
      } //tit-box
      .info-box {
        margin-top: 10px;
        .min {
          font-size: 42px;
          margin-bottom: 10px;
          .name {
            font-size: 54px;
          }
          .big {
            font-size: 80px;
            color: #a2a383;
          }
          .mini {
            font-size: 30px;
          }
        }
        .sen {
          font-size: 18px;
          line-height: 1.6;
        }
      } //info-box
    } //lists
    .list01 {
      margin-bottom: 40px;
    } //list01
    .list02 {
      li {
        display: inline-block;
        vertical-align: top;
        width: 31%;
        margin-right: 2%;
      }
      li:last-child {
        margin-right: auto;
      }
    } //list02
  } //station

  @media screen and (max-width: 1300px) {
  }
  @media screen and (max-width: 1024px) {
  } //1024px

  @media screen and (max-width: 768px) {
  }
}
