@charset "utf-8";
/* 
  css設定 @charsetが消されるsass仕様へのハック用コメントです。削除しないでください。新規作成時も必須！
 */
@import "inc/mixin.scss";
@import "inc/functions.scss";
@import "inc/param.scss";
#adtag {
  opacity: 0;
}
#public {
  main img {
    max-width: 100%;
  }
  .img {
    position: relative;
  }

  main {
    background: #000;
    color: #fff;
    font-family: "RyuminPro", serif;
    line-height: 1;
  }
  sp {
    display: none;
  }
  pc {
    display: block;
  }
  .page-annotation {
    font-family: "Noto Sans JP", sans-serif;
  }
  .main-visual {
    position: relative;
    border: none;
    .annotation {
      bottom: 10px;
    }
  }

  /************* バナースライド *************/

  .top-mv {
    background: #f1e9dc;
  }
  
  .top-mv__slide .slick-dots li {
    width: 10px;
    height: 10px;
  }
  
  .top-mv__slide .slick-dots li button {
    width: 100%;
    height: 100%;
    padding: 0;
    border-radius: 50%;
    background-color: #707070;
  }
  
  .top-mv__slide .slick-dots li.slick-active button {
    background-color: rgba(80, 50, 30, 1);
  }
  
  .top-mv__slide .slick-dots li button:before {
    display: none;
  }
  
  .slick-initialized .slick-slide {
    position: relative;
    .annotation.left{
      left: 10px;
      right: auto;
      line-height: 1.4;
    }
    .annotation.top{
      top: 10px;
      bottom: auto;
      line-height: 1.4;
      text-align: right;
    }
  }


  .sections {
    .inner {
      margin: 0 auto;
      width: 80%;
      max-width: 1200px;
    }
    .image {
      position: relative;
    }
    .annotation {
      font-size: 10px;
      text-align: right;
    }
    .texts {
      padding: 40px 0 ;
      .tit {
        font-size: 26px;
        color: #a2a383;
        letter-spacing: 0.2em;
        margin-bottom: 20px;
      }
      .line {
        border-left: 0.5px solid #a2a383;
        padding: 30px 40px;
        box-sizing: border-box;
      }
      .txt01 {
        font-size: 30px;
        margin-bottom: 30px;
      }
      .txt02 {
        font-size: 18px;
        line-height: 2;
      }
      .btn{
        text-align: right;
        a{
          font-size: 18px;
          padding: 10px 15px;
          background-color: #a2a383;
        }
      }
    }
  } //sections
  .intro {
    padding: 40px 0 0;
    h1{
      max-width: 1256px;
      width: 78.5%;
      margin: 0 auto 40px;
    }
    .txt01 {
      font-size: 30px;
      line-height: 1.8;
      margin-bottom: 20px;
    }
    .txt02 {
      font-size: 18px;
      line-height: 2.2;
      margin-bottom: 80px;
    }
  } //intro
  .hall{
    .txt01 {
      font-size: 30px;
      line-height: 2.2;
      margin-bottom: 20px;
    }
    .txt02 {
      font-size: 18px;
      line-height: 2.2;
    }
    .img01 {
      max-width: 1280px;
      width: 80%;
      margin: 40px auto 100px;
    }
  } //urban

  @media screen and (max-width: 1300px) {
  }
  @media screen and (max-width: 1024px) {
  }
  @media screen and (max-width: 768px) {
    sp {
      display: block;
    }
    pc {
      display: none;
    }


    .sections {
      .texts {
        padding: 40px 0 30px;
        .tit {
          font-size: 20px;
        }
        .line {
          padding: 10px 20px;
          margin-bottom: 20px;
        }
        .txt01 {
          font-size: 22px;
          line-height: 1.6;
          margin-bottom: 20px;
        }
        .txt02 {
          font-size: 16px;
        }
      }
    } //sections
    .intro {
      padding: 60px 0 0;
      .txt01 {
        font-size: 24px;
      }
      .txt02 {
        font-size: 16px;
      }
    } //intro
    .hall {
      .txt01 {
        font-size: 24px;
      }
      .txt02 {
        font-size: 16px;
      }
    } //urban
  } //sp
}
