@charset "utf-8";
/* 
  css設定 @charsetが消されるsass仕様へのハック用コメントです。削除しないでください。新規作成時も必須！
 */
@import "inc/mixin.scss";
@import "inc/functions.scss";
@import "inc/param.scss";
#sitemap {
  main {
    font-family: "RyuminPro", serif;
  }
  h2.ttl{
    margin: 90px 0 40px 0;
    font-size:40px;
  }
  #submaincontainer{
    width:1300px;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
  }
  #submaincontainer ul li{
    color:#888;
  }
  #submaincontainer ul li span{
    color:#000;
  }
  #submaincontainer ul li a{
    color:#000;
    text-decoration:underline;
  }
  #submaincontainer ul li a:hover{
    color:#888;
    text-decoration:none;
  }
  
  .sitemap_area{
    font-size:16px;
  }
  @media screen and (max-width: 1600px) {
  
    #submaincontainer{
      width:81.25vw;
      margin: 0 auto 40px;
    }
  }
  @media screen and (max-width: 1300px) {
    #submaincontainer #map1{
      /*width:30.312vw;*/
      width:100%;
      margin:0 auto 0 auto;
    }
  }
  @media screen and (max-width: 640px) {
    #submaincontainer{
      width:92%;
    }
    #submaincontainer .ttl{
        width:60%;
        height: auto;
        margin: 40px 0 40px 20px;
        font-size: 30px;
    }
  } 
} //sitemap
