@charset "UTF-8";
/* 
  css設定 @charsetが消されるsass仕様へのハック用コメントです。削除しないでください。新規作成時も必須！
 */
#adtag {
  opacity: 0;
}

#access main img {
  max-width: 100%;
}
#access .img {
  position: relative;
}
#access main {
  background: #000;
  color: #fff;
  font-family: "RyuminPro", serif;
  line-height: 1;
}
#access main .image {
  position: relative;
}
#access sp {
  display: none;
}
#access pc {
  display: block;
}
#access .page-annotation {
  font-family: "Noto Sans JP", sans-serif;
}
#access .main-visual {
  position: relative;
  border: none;
}
#access .main-visual .annotation {
  bottom: 160px;
}
#access .sections .inner {
  margin: 0 auto;
  width: 80%;
  max-width: 1200px;
}
#access .sections .image {
  position: relative;
}
#access .sections .annotation {
  font-size: 10px;
  text-align: right;
}
#access .intro {
  padding: 60px 0 0;
}
#access .intro .lead {
  font-size: 64px;
  line-height: 1.6;
  margin-bottom: 30px;
}
#access .intro .text {
  font-size: 24px;
  line-height: 2;
  margin-bottom: 140px;
}
#access .intro .image01 {
  margin-bottom: 100px;
}
#access .intro .image01 .annotation {
  color: #fff;
  bottom: -20px;
}
#access .station {
  margin-bottom: 200px;
}
#access .station .lists li {
  display: inline-block;
  vertical-align: top;
  width: 48%;
  margin-right: 2%;
}
#access .station .lists li:last-child {
  margin-right: auto;
}
#access .station .lists .tit-box {
  border-bottom: 1px solid;
  padding-bottom: 6px;
  margin-bottom: 30px;
}
#access .station .lists .tit-box .line {
  font-size: 22px;
}
#access .station .lists .tit-box .min {
  font-size: 32px;
}
#access .station .lists .tit-box .min .name {
  font-size: 42px;
}
#access .station .lists .tit-box .min .num {
  font-size: 60px;
  color: #a2a383;
}
#access .station .lists .info-box {
  margin-top: 10px;
}
#access .station .lists .info-box .min {
  font-size: 38px;
  margin-bottom: 10px;
}
#access .station .lists .info-box .min .name {
  font-size: 48px;
}
#access .station .lists .info-box .min .big {
  font-size: 60px;
  color: #a2a383;
}
#access .station .lists .info-box .min .mini {
  font-size: 24px;
}
#access .station .lists .info-box .sub {
  font-size: 34px;
  text-align: right;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
#access .station .lists .info-box .sub:before {
  content: "";
  flex-grow: 1;
  border-top: dotted 3px #fff;
  display: block;
}
#access .station .lists .info-box .sub:before {
  margin-right: 15px;
}
#access .station .lists .info-box .sub .big {
  font-size: 60px;
  color: #a2a383;
  display: contents;
}
#access .station .lists .info-box .sub .mini {
  font-size: 20px;
  display: contents;
}
#access .station .lists .info-box .sen {
  font-size: 16px;
  line-height: 1.6;
}
#access .station .list01 {
  margin-bottom: 40px;
}
#access .station .list02 {
  margin-bottom: 100px;
}
#access .station .list02 li {
  display: inline-block;
  vertical-align: top;
  width: 31%;
  margin-right: 2%;
}
#access .station .list02 li:last-child {
  margin-right: auto;
}
#access .station .airport .tit01 {
  font-size: 32px;
  line-height: 1.6;
  padding-bottom: 6px;
  border-bottom: 1px solid;
  margin-bottom: 20px;
}
#access .station .airport .tit02 {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}
#access .station .airport .lists .info-box .min {
  font-size: 38px;
  line-height: 1.3;
}
#access .station .airport .lists .info-box .min .mini {
  font-size: 20px;
}
#access .station .airport .lists .info-box .sub {
  font-size: 38px;
}
#access .station .airport .lists .info-box .sub .big {
  font-size: 70px;
}
#access .station .airport .lists .info-box .sub .mini {
  font-size: 24px;
}
#access .station .airport .caps {
  font-size: 12px;
  line-height: 1.6;
}
#access .taxi {
  margin-bottom: 140px;
}
#access .taxi .tit01 {
  font-size: 32px;
  line-height: 1.6;
  margin: 30px 0 20px;
}
#access .taxi .tit02 {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 80px;
}
#access .taxi .tit03 {
  font-size: 22px;
  line-height: 1.6;
  padding-bottom: 10px;
  border-bottom: 1px solid;
  margin-bottom: 20px;
}
#access .taxi ul {
  margin-bottom: 20px;
}
#access .taxi li {
  vertical-align: top;
  display: inline-block;
  width: 31.5%;
  margin-right: 2%;
}
#access .taxi li:last-child {
  margin-right: auto;
}
#access .taxi .name {
  text-align: center;
  font-size: 24px;
  margin: 20px auto;
}
#access .taxi .name span {
  font-size: 36px;
}
#access .taxi .caps {
  font-size: 12px;
  line-height: 1.6;
}
#access .car {
  margin-bottom: 140px;
}
#access .car .tit01 {
  font-size: 32px;
  line-height: 1.6;
  margin: 30px 0 20px;
}
#access .car .tit02 {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 80px;
}
#access .car .tit03 {
  font-size: 22px;
  line-height: 1.6;
  padding-bottom: 10px;
  border-bottom: 1px solid;
  margin-bottom: 20px;
}
#access .car .tit03 span {
  font-size: 40px;
}
#access .car ul {
  margin-bottom: 20px;
}
#access .car li {
  vertical-align: top;
  display: inline-block;
  width: 31.5%;
  margin-right: 2%;
}
#access .car li:last-child {
  margin-right: auto;
}
#access .car .info-box {
  margin-top: 10px;
}
#access .car .info-box .min {
  font-size: 38px;
  line-height: 1.3;
  margin-bottom: 10px;
}
#access .car .info-box .min .mini {
  font-size: 24px;
}
#access .car .info-box .sub {
  font-size: 34px;
  text-align: right;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
#access .car .info-box .sub:before {
  content: "";
  flex-grow: 1;
  border-top: dotted 3px #fff;
  display: block;
}
#access .car .info-box .sub:before {
  margin-right: 15px;
}
#access .car .info-box .sub .big {
  font-size: 60px;
  color: #a2a383;
  display: contents;
}
#access .car .info-box .sub .mini {
  font-size: 20px;
  display: contents;
}
#access .car .caps {
  font-size: 12px;
  line-height: 1.6;
}
@media screen and (max-width: 768px) {
  #access sp {
    display: block;
  }
  #access pc {
    display: none;
  }
  #access .main-visual .annotation {
    bottom: 40px;
  }
  #access .intro {
    padding: 60px 0 0;
  }
  #access .intro .lead {
    font-size: 28px;
    margin-bottom: 20px;
  }
  #access .intro .text {
    font-size: 18px;
    margin-bottom: 60px;
  }
  #access .intro .image01 {
    margin-bottom: 60px;
  }
  #access .station {
    margin-bottom: 60px;
  }
  #access .station .lists li {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
  #access .station .lists li:last-child {
    margin-bottom: auto;
  }
  #access .station .lists .tit-box .line {
    font-size: 20px;
    margin-bottom: 6px;
  }
  #access .station .lists .tit-box .min {
    font-size: 20px;
  }
  #access .station .lists .tit-box .min .name {
    font-size: 26px;
  }
  #access .station .lists .tit-box .min .num {
    font-size: 36px;
  }
  #access .station .lists .info-box .min {
    font-size: 20px;
  }
  #access .station .lists .info-box .min .name {
    font-size: 32px;
  }
  #access .station .lists .info-box .min .big {
    font-size: 40px;
  }
  #access .station .lists .info-box .min .mini {
    font-size: 12px;
  }
  #access .station .lists .info-box .sub {
    font-size: 24px;
  }
  #access .station .lists .info-box .sub .big {
    font-size: 50px;
  }
  #access .station .lists .info-box .sub .mini {
    font-size: 16px;
  }
  #access .station .lists .info-box .sen {
    font-size: 16px;
  }
  #access .station .list01 li {
    margin-bottom: 40px;
  }
  #access .station .list02 {
    margin-bottom: 80px;
  }
  #access .station .list02 li {
    display: block;
    width: 100%;
    margin-bottom: 40px;
  }
  #access .station .list02 li:last-child {
    margin-bottom: auto;
  }
  #access .station .airport .tit01 {
    font-size: 24px;
  }
  #access .station .airport .tit02 {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  #access .station .airport .lists .info-box .min {
    font-size: 28px;
  }
  #access .station .airport .lists .info-box .min .mini {
    font-size: 18px;
  }
  #access .station .airport .lists .info-box .sub {
    font-size: 24px;
  }
  #access .station .airport .lists .info-box .sub .big {
    font-size: 50px;
  }
  #access .station .airport .lists .info-box .sub .mini {
    font-size: 18px;
  }
  #access .taxi {
    margin-bottom: 80px;
  }
  #access .taxi .tit01 {
    font-size: 24px;
  }
  #access .taxi .tit02 {
    font-size: 18px;
    margin-bottom: 40px;
  }
  #access .taxi .tit03 {
    font-size: 16px;
  }
  #access .taxi ul {
    margin-bottom: 20px;
  }
  #access .taxi li {
    display: block;
    width: 100%;
    margin-bottom: 40px;
  }
  #access .taxi li:last-child {
    margin-bottom: auto;
  }
  #access .taxi .name {
    font-size: 18px;
    margin: 10px auto;
  }
  #access .taxi .name span {
    font-size: 26px;
  }
  #access .taxi .caps {
    font-size: 12px;
    line-height: 1.6;
  }
  #access .car {
    margin-bottom: 80px;
  }
  #access .car .tit01 {
    font-size: 24px;
  }
  #access .car .tit02 {
    font-size: 18px;
    margin-bottom: 40px;
  }
  #access .car .tit03 {
    font-size: 16px;
  }
  #access .car .tit03 {
    font-size: 16px;
  }
  #access .car .tit03 span {
    font-size: 20px;
  }
  #access .car ul {
    margin-bottom: 20px;
  }
  #access .car li {
    display: block;
    width: 100%;
    margin-bottom: 30px;
  }
  #access .car li:last-child {
    margin-bottom: 30px;
  }
  #access .car .info-box .min {
    font-size: 28px;
  }
  #access .car .info-box .min .mini {
    font-size: 18px;
  }
  #access .car .info-box .sub {
    font-size: 24px;
  }
  #access .car .info-box .sub .big {
    font-size: 50px;
  }
  #access .car .info-box .sub .mini {
    font-size: 18px;
  }
  #access .car .caps {
    font-size: 12px;
    line-height: 1.6;
  }
}/*# sourceMappingURL=access.css.map */